<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.AirUserMapper">
	<select id="selectByEmail" resultType="com.spring.domain.AirUserVO">
		select * from airuser where email=#{email}
	</select>
	<insert id="insert">
		insert into airuser(bno,email,password,username,address,tel,birth)
		values(seq_bno.nextVal,#{email},#{password},#{username},#{address},#{tel},#{birth})
	</insert>
</mapper>