<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.HomeRegisterMapper">
	
	<insert id="homeRegister">
		<selectKey keyProperty="ano" order="BEFORE" resultType="int">
		select seq_accommodation.nextVal from dual
		</selectKey>
		insert into project_accommodation
		(ano,homename,maxperson,birfcontent,content,price,bedcount,breakfast,parkingarea,wifi,region,region2,region3,region4,region5,ReplyCnt)
		values(#{ano},#{homename},#{maxperson},#{birfcontent},#{content},#{price},#{bedcount},#{breakfast},#{parkingarea},#{wifi},#{region},#{region2},#{region3},#{region4},#{region5},0)
	</insert>

</mapper>
