<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.HomeAttachMapper">
<insert id="insertHomeAttach">
insert into accommodation_attach (uuid,uploadPath,fileName,ano)
values(#{uuid},#{uploadPath},#{fileName},#{ano})
</insert>
<select id="findByAno" resultType = "com.spring.domain.HomeAttachVO">
	select * from accommodation_attach where ano=#{ano}
</select>
<select id="homeAttachList"  resultType = "com.spring.domain.HomeAttachVO">
select ano,uuid,uploadpath,filename from accommodation_attach where rowid in
(select max(rowid) from accommodation_attach group by ano) and ano=#{ano}
</select>

</mapper>