<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.ReplyMapper">

<select id = "replyList" resultType = "com.spring.domain.ReplyVO">
	select * from spring_reply where ano = #{ano}
</select>

<insert id = "replyInsert" parameterType = "com.spring.domain.ReplyVO">
	insert into spring_reply (cno, ano, content)
	values (rep_seq.nextVal,#{ano},#{content})
</insert>
<select id = "replyCnt" resultType = "int">
	select * from spring_reply where ano = #{ano}
</select>



</mapper>